.card {
    border: none;
    height: 380px;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cars, .image-users {
    width: 220px;
    display: block;
    align-self: center;
}

.image-users:hover {
    width: 400px;
    height: 400px
}

.image-cars {
    filter: grayscale(100%)
}

.image-cars:hover {
filter: grayscale(0%);
transform: translateX(7%) translateY(0%) rotatez(15deg);

}

.row {
    display: flex;
    flex-wrap: wrap;
}