.card {
    border: none;
    height: 380px;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-cars, .image-users {
    width: 220px;
    display: block;
    align-self: center;
}

.image-users:hover {
    width: 400px;
    height: 400px
}

.image-cars {
    filter: grayscale(100%)
}

.image-cars:hover {
filter: grayscale(0%);
transform: translateX(7%) translateY(0%) rotatez(15deg);

}
.container-photos{
    margin-top: 170px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.form-card {
    background-color: #FEF200;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 10px;
}

Button {
    margin-top: 10px;
    display: flex;
    align-content: flex-end;
}